html, body {
    background-image: url("../files/images/Background_18.jpg");
    background-size:100% 100%;
    margin: 0;
    padding: 0;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: rgb(15, 128, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}