html, body {
    background-image: url("../images/minimalistic-rocket_00245071.jpg");
    background-size: cover;
    background-position-y: center;
    background-position-y: 25%;
    margin: 0;
    padding: 0;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: rgb(228, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}